<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tstDak.TestMapper">

<select id="selectK_TBTST001" parameterType="String" resultType="com.tstDak.vo.TestVo">
<![CDATA[
SELECT ID,PASSWD,NAME,EMAIL,COUNTRY 
  FROM TBTST001
 WHERE ID = #{id}
]]>
</select>

<select id="selectN_TBTST001" resultType="map">
<![CDATA[
SELECT ID,PASSWD,NAME,EMAIL,COUNTRY 
  FROM TBTST001
]]>
</select>

<select id="select_PWCHK_01" parameterType="java.util.Map" resultType="int">
<![CDATA[
SELECT COUNT(1) 
  FROM TBTST001
 WHERE ID      = #{id}
   AND PASSWD  = #{passwd}
]]>
</select>

<insert id="insertK_TBTST001" parameterType="com.tstDak.vo.TestVo">

INSERT 
  INTO TBTST001
(
ID,PASSWD,NAME,EMAIL,COUNTRY
)
VALUES
(
#{id},#{passwd},#{name},#{email},#{country}
)

</insert>

<insert id="insertN_TBTST001" parameterType="java.util.Map">

INSERT 
  INTO TBTST001
(
ID,PASSWD,NAME,EMAIL,COUNTRY
)
VALUES
<foreach item="item" collection="list" separator=",">
(
#{item.id},#{item.passwd},#{item.name},#{item.email},#{item.country}
)
</foreach>

</insert>

<update id="updateK_TBTST001" parameterType="com.tstDak.vo.TestVo">
UPDATE TBTST001 
   SET PASSWD  = #{passwd}
     , NAME    = #{name}
     , EMAIL   = #{email}
     , COUNTRY = #{country}
 WHERE ID = #{id}
</update>

<delete id="deleteK_TBTST001" parameterType="String">
DELETE 
  FROM TBTST001 
 WHERE ID = #{id}
</delete>

</mapper>